@import "colors/colors.css";

* {
    font-family: 'JetBrainsMono Nerd Font', sans-serif;
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#waybar {
    background: transparent;
    font-size: 13px;
    font-weight: bold;
    color: @inactive;
}

#workspaces,
#clock,
#left,
#right {
    background-color: @bg1;
    border-radius: 20px;
    padding: 2px 14px;
    margin: 5px 5px;
}

#workspaces button {
    color: @inactive;
    padding: 0 5px;
    border-radius: 10px;
}

#workspaces button.active {
    color: @yellow;
    background-color: @bg2;
    border-radius: 10px;
    padding: 0 8px;
}

#battery,
#cpu,
#memory,
#network,
#bluetooth {
    color: @inactive;
    padding: 0 7px;
}

#battery.warning { color: @yellow; }
#battery.critical,
#cpu.critical,
#memory.critical { color: @red; }

#clock {
    color: @fg;
}

#network,
#bluetooth {
    color: @inactive;
}

#network:hover,
#bluetooth:hover {
    color: @yellow;
}

tooltip {
    background-color: @bg1;
    border: 1px solid @yellow;
    border-radius: 10px;
    color: @fg;
}

calendar {
    color: @fg;
}
